[submodule "video_stream_opencv"]
	path = video_stream_opencv
	url = https://github.com/ros-drivers/video_stream_opencv.git
[submodule "ROS/src/image_pipeline"]
	path = ROS/src/image_pipeline
	url = https://github.com/ros-perception/image_pipeline.git

